/*= Media Queries / Imports (Variables) =*/
@import url(/intersection/componentObs.css);
/*Root and Style*/
:root {
  /*Color Base*/
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-primary-1: hsl(205, 75%, 60%);
  --clr-primary-2: hsl(205, 89%, 70%);
  --clr-primary-3: hsl(205, 80%, 17%);

  /*Font Base*/
  --font-base-small: 1.4rem;
  --font-base-medium: 1.6rem;
  --font-base-tall: 1.8rem;
  --font-base-title: 2.4rem;
  --spacing-character: 0.1rem;

  /*Shadow Base*/
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /*Width Base*/
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*Global Style*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
